*{
  font-family: "Roboto", sans-serif;  
}

body{
    padding:0;
    margin:0;
    padding-top: 40px;
}

.header, 
.container1, 
.container2, 
.container3,
.container4,
.footer
{
    padding-left: 150px;
    padding-right: 150px;
}

.header, .footer, .container1{
    background-color: #1F2937;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 150px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.links-left{
    color: #f9faf8;
    font-size: 24px;
    display:flex;
    font-weight: 700;
    padding-right: 16px;
}

.links-right{
    display: flex;
    gap: 16px;
    padding-right: 300px;
}

.footer, .links-right{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 200;
}

.container1{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.info{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding-right: 16px;
}

.site-title, .site-desc{
    font-weight: 300;
    max-height: 120px;
    min-width: 300px;
    overflow: auto;
}

button{
    width: 100px;
    height: 24px;
    justify-content: center;
    border-radius: 8px;
    border: none;
}

#btn2{
    border:2px solid #E5E7EB
}

.container2{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937
}

.welcome-img{
    width: 500px;
    height: 250px;
    margin-left: 64px;
    flex-grow: 0;
    border: none;
}

.site-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.site-desc{
    font-size: 18px;
    color: #E5E7EB
}

button, .call, .call-desc{
    background-color: #3882F6;
    color:#E5E7EB
}

img{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    border: 2px solid #3882F6
}

.images{
    display: flex;
    justify-content:space-around;
    flex-flow: row wrap;
    gap: 52px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.text{
    font-size: small;
    width: 128px;
}

.container3{
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color:#1F2937;
    padding-left: 50px;
    padding-right: 50px;
}

.author{
    text-align: end;
}

.call, .author{
    font-size: 20px;
    font-weight: bold;
}

.container4{
    background-color: #3882F6;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 150px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.action{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer{
    padding: 24px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
